.ant-upload-select-picture-card i {
  color: #999;
  font-size: 32px;
  justify-content: center;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
  justify-content: center;
}


.ant-upload,
.ant-upload-select,
.ant-upload-select-picture-card,
.ant-upload-list-item,
.ant-upload-list-item-done,
.ant-upload-list-item-list-type-picture-card,
.ant-upload-list-picture-card-container {
  width: 100% !important;
  height: 400px !important;
  justify-content: center;
}
